body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px #ebe7e7e8;
  border-radius: 10px;
}

.box {
  width: 100%;
}

.toggle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #120fec;
}

.toggle button.active {
  color: #0f0beb;
  border-bottom: 2px solid #2d0edd;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #1518e2;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #0c10f0;
  border-radius: 5px;
  font-size: 16px;
}

.form button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #112fdb;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #2610ec;
}

.sinupimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img12 {
  width: 250px;
  height: 200px;
  margin-bottom: 20px;
}

.img15 {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
input{
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: rgb(230, 231, 236);
}
